<button ng-click="giphyCtrl.randomGIF()">Random!</button><br/>
<div>
<img ng-show="giphyCtrl.randomImageURL" ng-src="{{giphyCtrl.randomImageURL}}" alt="A Random Gif"><br>
<input ng-show="giphyCtrl.randomImageURL" class="favoriteForm" ng-model="giphyCtrl.favComment" placeholder="Why this GIF?"><br />
<button ng-show="giphyCtrl.randomImageURL" data-id=$index ng-click="giphyCtrl.favoriteThisGIF(giphyCtrl.favComment, giphyCtrl.randomImageURL)">Favorite this GIF</button>
</div>
<br><br>

<form name="searchForm">
  <input type="text" ng-model="giphyCtrl.searchTerm" placeholder="search term" ng-focus="highlight=true" ng-blur="highlight=false" required/>
  <button ng-disabled="searchForm.$invalid" ng-click="giphyCtrl.searchGIF(giphyCtrl.searchTerm)" ng-class="{'highlightBad':highlight==true && searchForm.$invalid,'highlightGood':highlight==true && searchForm.$valid, 'normal':highlight==false}">Search!</button>
</form>
<p class="invalid" ng-show="searchForm.$invalid && highlight==true">
  Search for a GIF!!
</p>
<ul>
<li ng-repeat="gifs in giphyCtrl.searchImageURL" ng-show="giphyCtrl.searchImageURL"  alt="searched Gif">
  <img ng-src="{{gifs.images.original.url}}"  ng-model="giphyCtrl.searchImageURL[$index].images.original.url" alt=""><br />
  <input class="favoriteForm" id="$index" data-id="$index" ng-model="giphyCtrl.favComment" placeholder="Why this GIF?"><br />
  <button data-id=$index ng-click="giphyCtrl.favoriteThisGIF(giphyCtrl.favComment, giphyCtrl.searchImageURL[$index].images.original.url)">Favorite this GIF</button>
</li>
</ul>
